{% extends 'base.html' %}
{% block content %}
    <br>
    {% for i in result.data %}
        <b>  Title: <strong>{{ i.fields.title }}</strong></b></br>
        <b>  Country: </b> {{ i.fields.country.0.name}} </br>
        <b>  City: </b> {{ i.fields.city.0.name}} </br>
        <b>  Description: </b> <p>{{ i.fields.body}}</p></br>
        <b>  How to Register: </b> <p>{{ i.fields.how_to_register}}</p></br>
        <b>  Start Date: </b> <p>{{ i.fields.date.start}}</p></br>
        <b>  End Date: </b> <p>{{ i.fields.date.end}}</p></br>
        <a href= "https://api.toodledo.com/3/account/authorize.php?" target="_blank"><button>View My ToodleDo Tasks</button></a>
        <br>
        <br>
        <iframe src="http://m.toodledo.com/index.php" align='middle' width="250" height="300"></iframe>
        <p></p>
    {% endfor %}
{% endblock %}