{% extends 'base.html' %}
{% block content %}
    <b>  <strong>Related Jobs</strong></b></br>
    {% for i in response1.data %}
            <b>  <strong>{{ i.fields.title }}</strong></b></br>
            <a href= {{ i.href }}> Job Link</a>
            <br>
            <p></p>
    {% endfor %}
    <b>  <strong>Related Trainings</strong></b></br>
    {% for j in response2.data %}
            <b>  <strong>{{ j.fields.title }}</strong></b></br>
            <a href= {{ j.href }}> Training Link</a>
            <br>
            <p></p>
    {% endfor %}
{% endblock %}