{%  if user_list %}

    {% for user in user_list %}

    <ul>

    <li>
        <h2> User-Name: {{ user.name }}</h2>
        <h2>Email: {{ user.email }}</h2>
            <form action="{%  url 'database:user-delete' user.id %}" method="post" style="display: inline;">
             {% csrf_token %}
             <button type="submit" class="btn btn-default btn-sm">Delete</>
        </form>
            <form action="{%  url 'database:user-update' user.id %}" method="post" style="display: inline;">
             {%  csrf_token  %}
            <button type="submit" class="btn btn-default btn-sm">Update</button>
         </form>
    </li>
    </ul>

{%  endfor %}
    {% else %}
    <h1>No user entries found on the database.</h1>

{% endif %}
    <form action="{% url 'database:user-entry' %}" method="post" style="display: inline;">
        {%  csrf_token %}
        <button type="submit" class="btn btn-default btn-sm">Make a User entry here</button>
    </form>


